body{
    background: #f7f7f7;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.Top_header{
    text-align: center;
}

.Photo{
    border: 1px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.Post{
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 10px;
}

.Post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: center;
}

.Post_image{
    margin-bottom: 15px;
    width: 100%;
}

.Contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.Contact_list li a{
    color: blue;
    text-decoration: none;
}